<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
	    http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 扫描Controller包 -->
    <context:component-scan base-package="controller,aop"/>

    <!-- 配置视图解析器 -->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 配置文件解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"></property>
    </bean>

    <!-- 开启SpringMVC注解的支持 -->
    <mvc:annotation-driven />
    <!-- 静态资源不需要管理 -->
    <mvc:resources mapping="/img/**" location="/img/"></mvc:resources>
    <mvc:resources mapping="/css/**" location="/css/"></mvc:resources>
    <!--<mvc:resources mapping="/js/**" location="/js/"></mvc:resources>-->
    <mvc:resources mapping="/plugins/**" location="/plugins/"></mvc:resources>
    <mvc:resources mapping="/pages/**" location="/pages/"></mvc:resources>

    <!--&lt;!&ndash; 注册拦截器 &ndash;&gt;-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<mvc:exclude-mapping path="/user/*"/>-->
            <!--<mvc:exclude-mapping path="/css/*"/>-->
            <!--<mvc:exclude-mapping path="/img/*"/>-->
            <!--<mvc:exclude-mapping path="/js/*"/>-->
            <!--<mvc:exclude-mapping path="/fonts/*"/>-->
            <!--<mvc:exclude-mapping path="/checkCode"/>-->
            <!--<bean class="interceptor.LoginInterceptor"></bean>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->
    <!--&lt;!&ndash; 注册异常处理器 &ndash;&gt;-->
    <!--<bean class="exptionhandler.MyExceptionResolver"></bean>-->
    <!-- 注解支持AOP配置 -->
    <aop:aspectj-autoproxy />
</beans>